{% extends 'title.html' %}
{% block body %}
    <form action="" method="post">
        <legend>Пожалуйста, укажите кабинет ДОНОР</legend>
        <fieldset>
            {% for cab in cabs %}
                <div>
                    <input
                            type="radio"
                            value={{ cab.client_id }}
                            name="selected_donor"
                            id="radio_main"
                            {% if forloop.first %} checked {% endif %}>
                    <label for="radio_main">{{ cab.name }}</label>
                </div>
            {% endfor %}
        </fieldset>
        <legend>Выберите кабинеты, НА КОТОРЫЕ будем копировать карточки</legend>
        <fieldset class="frame">
            {% for cab in cabs %}
                <div>
                    <input type="checkbox" value={{ cab.client_id }} name="selected_target" id="{{ cab.client_id }}"><label for="{{ cab.client_id }}">{{ cab.name }}</label>
                </div>
            {% endfor %}
        </fieldset>
        <p>
            <label for="code_1c">Введите коды 1С</label>
            <textarea id="code_1c" name="code_1c" rows="15" cols="100"></textarea>
        </p>
        <p>
            <input class="btn" type="submit" value="Отправить данные">
        </p>
    </form>
{% endblock %}